h1 {
  text-transform: capitalize;
}
body {
  width: 500px;
  margin: 0 auto;  
}

p {
  background: rgba(255, 150, 180, 0.5);
  border: 2px solid rgb(255, 120, 160);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

span {
  background: rgb(170, 230, 180);
  border: 1px solid rgb(90, 90, 190);
  padding: 2px 4px;
  border-radius: 6px;
}
