<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
  <h1 class="home-h1">Home page</h1>
  <div class="wrapper">
    <div class="box1">one</div>
    <div class="box2">two</div>
    <div class="box3">Three</div>
  </div>
  <div class="grid">
    <div class="box1">One</div>
    <div class="box1">One</div>
    <div class="box1">One</div>
    <div class="box1">One</div>
    <div class="box1">One</div>
    <div class="box1">One</div>
  </div>
  <div class="float">
    <h2>simple float example</h2>
    <div class="float box">float</div>

    <p>
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      1234567890 1234567890 12345689abcdef 19 1a 1b 1c 1d 1e 1f 21
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      abcdefg hijklmn opqrstu wxyz
      1234567890 1234567890 12345689abcdef 19 1a 1b 1c 1d 1e 1f 21
    </p>
  </div>
</body>
</html>
