.home-h1 {
  background-color: #00ffff;
}

.wrapper {
  display: flex;
}

.wrapper > div {
  flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  gap: 10px;
}
