h1 {
  background-color: #00f1f1;
  border-left: dotted 3px #ffffa0;
}

.box {
  background-color: #567895;
}

h2 {
  background-color: black;
  color: white;
}

span {
  background-color: rgb(255, 255, 255,  60%);
}
