h1 {
  background-color: #00f1f1;
  border-left: dotted 3px #ffffa0;
}

.box {
  background-color: #567895;
}

h2 {
  background-color: black;
  color: white;
}

span {
  background-color: rgb(255, 255, 255,  60%);
}

.linear-gradient {
  height: 60px;
  width: 300px;
  background: linear-gradient(
    to right,
    red,
    orange
  );
}

.radial-gradient {
  border: solid 4px rgb(255, 255, 40, .6);
  background: radial-gradient(
    blue, yellow, rgb(30, 144, 255)
  );
}
