a {
  color: blue;
  text-decoration-color: blue;
}

.wrapper {
  display: flex;
}

.wrapper > div {
  flex: 1;
}


.box1 {
  border-radius: 10%;
  background-color: #aae9ff;
  padding: 4px 8px;
}

.box2 {
  border-radius: 10%;
  background-color: #aae9ff;
  padding: 4px 8px;
}

.box3 {
  border-radius: 10%;
  background-color: #aae9ff;
  padding: 4px 8px;
}
