html {
  font-size: 10px;
}

a {
  font-size: 1.6rem;
}
h1 {
  font-size: 2.6rem;
  text-shadow:
    -1px -1px 1px #aaa,
    0px 4px 1px rgba(0, 0, 0, 0.5),
    4px 4px 5px rgba(0, 0, 0, 0.7),
    0px 0px 7px rgba(0, 0, 0, 0.4);
    
}

h2 {
  font-size: 3rem;
  text-shadow: 4px 4px 5px red;
  text-transform: capitalize;
  text-align: center;
}

h2 + p {
  font-weight: bold;
}
p {
  font-size: 1.4rem;
  font-family: Helvetica, Arial, sans-serif;
  color: red;
  line-height: 1.5;
  
}
